/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "NimbusSansDOT-Ligh";
  src: url("./fonts/Nimbus-Sans-D-OT-Light32752.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Nimbus-Sans-D-OT-Light32752.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Nimbus-Sans-D-OT-Light32752.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Nimbus-Sans-D-OT-Light32752.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Nimbus-Sans-D-OT-Light32752.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Nimbus-Sans-D-OT-Light32752.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Nimbus-Sans-D-OT-Light32752.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}